mixin salesTime(number, unit)
	div.main-sales__product-content--time-item
		p.main-sales__product-content--time-number= number
		p.main-sales__product-content--time-unit= unit

mixin productImage(text, productImg)
	div.main-sales__product-image
		div.main-sales__product-image--tittle-container-1
		div.main-sales__product-image--tittle-container-2
		div.main-sales__product-image--tittle-container-3
		p.main-sales__product-image--tittle-text= text
		img(src!=productImg alt="wine")

mixin tittle(tittle, tittleMark)
	div.main-intro__tittle
		h1= tittle
		img(src!=tittleMark alt="tittle mark")

mixin button(text)
	button.main-sales__product-content--button= text

mixin productDetails(text, productImg)
	div.product-details
		div.main-sales__product-image
			div.main-sales__product-image--tittle-container-1
			div.main-sales__product-image--tittle-container-2
			div.main-sales__product-image--tittle-container-3
			p.main-sales__product-image--tittle-text= text
			img(src!=productImg alt="wine")
			div.product-hover
				div.product-hover__item
					i.fa.fa-heart
					span Yêu thích
				div.product-hover__item
					i.fa.fa-signal
					span So sánh
				div.product-hover__zoom
					span +
		div.product-content
			h4.product-content__tittle RƯỢU VANG ĐÀ LẠT
			p.product-content__price
				span.product-content__price-main 370.000 đ
				span.product-content__price-old - 450.000 đ
			+button('ADD TO CART')

mixin contactItem(contactIcon, contactText)
	p
		i.fa(class=contactIcon)
		span=contactText

mixin productSocialItem(image, number)
	p 
		img(src!=image)
		span=number

mixin showNav(text1, text2, text3)
	p.detail-show__nav
		a(href='#')=text1
		a(href='#')=text2
		a.active(href='#')=text3

mixin columnList
	div.category-grid__column-list
			div.category-grid__column-list--product-list
				+tittle('DANH MỤC SẢN PHẨM', 'assets/image/titleleft-dark.png')
				h4 RƯỢU NGOẠI
					ul.category-grid__column-list--product-list-import
						each columnListItem1 in ['Rượu Chivas(67)', 'Hàng độc-Rượu độc đáo (16)', 'Johnnie Walker (49)', 'Rượu Wiskey (88)', 'Rượu Remy Martin (14)', 'Rượu Gerlemmoraing (27)','Rượu Chivas (85)', 'Hàng độc-Rượu độc đáo (17)', 'Johnnie Walker (19)', 'Rượu Wiskey (22)', 'Rượu Remy Martin (35)', 'Rượu Gerlemmoraing (18)', 'Rượu Chivas(67)', 'Hàng độc-Rượu độc đáo (16)', 'Johnnie Walker (49)', 'Rượu Wiskey (88)', 'Rượu Remy Martin (14)', 'Rượu Gerlemmoraing (27)','Rượu Chivas (85)', 'Hàng độc-Rượu độc đáo (17)','Rượu Gerlemmoraing (27)','Rượu Chivas (85)', ]
							li
								a(href='#')=columnListItem1
				h4 RƯỢU VANG
					ul.category-grid__column-list--product-list-grape
						each columnListItem2 in ['Rượu Wiskey (88)', 'Rượu Remy Martin (14)', 'Rượu Gerlemmoraing (27)','Rượu Chivas (85)', 'Hàng độc-Rượu độc đáo (17)', 'Johnnie Walker (19)', 'Rượu Wiskey (22)', 'Rượu Remy Martin (35)', 'Rượu Gerlemmoraing (18)', 'Rượu Chivas(67)', 'Hàng độc-Rượu độc đáo (16)']
							li
								a(href='#')=columnListItem2
			div.category-grid__column-list--compare
				+tittle('SO SÁNH SẢN PHẨM', 'assets/image/titleleft-dark.png')
				p Bạn chưa có sản phẩm nào để so sánh
			div.category-grid__column-list--tag
				+tittle('TAG SẢN PHẨM', 'assets/image/titleleft-dark.png')
				each tagName in ['Đồng hồ', 'Túi', 'Phụ kiện', 'Giày', 'Áo sơ mi', 'Nước hoa']
					a.tagname(href='#')=tagName
			div.category-grid__column-list--image
				img(src='assets/image/8bd367294fd54ff78565e6a73329e848.jpg' alt='small banner')

mixin productShowNav
	div.category-grid__product-show--nav
		div.category-grid__product-show--nav-view
			i.fa.fa-th
			i.active.fa.fa-list
		div.category-grid__product-show--nav-pagination
			span 1
			span.active 2
			span 3
			span 4
			span 5

mixin detailItem(image)
	div.detail-item
		div.detail-item__image
			img(src!=image alt=wine)
		div.detail-item__content
			h3 RƯỢU NHO NĂM 1987
			p.detail-item__content-price 370.000 đ
			p.detail-item__content-text I am crazy about hats these days. Some text about this blog entry. Fashion fashion and mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. 
			div.detail-item__content-button
				+button('ADD TO CART')
				div.content-button__icon
					i.fa.fa-heart
					span Yêu thích
				div.content-button__icon
					i.fa.fa-signal
					span So sánh

mixin tableRowTd
	tr 
		td 
			img(src='assets/image/ASB0904_001.jpeg' alt='wine')
		td RƯỢU VANG ĐỎ
		td 345.000 đ
		td 1
		td 345.000 đ
		td 
			i.fa.fa-trash-o

mixin article(image)
	div.main-blogs__article
		div.main-blogs__article-image
			img(src!=image)
			div.main-blogs__article-image-overlay
				div.main-blogs__article-image-overlay-triangle
				div.main-blogs__article-image-overlay-round
					i.fa.fa-chain
		div.main-blogs__article-content
			h3 VANG THĂNG LONG CLASSIC
			p.main-blogs__article-content--text-1
				span Đăng bởi Lan
				span 30/06/2015
				span 60 bình luận
			p.main-blogs__article-content--text-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel...
				a(href='#') Read more

mixin newsBlogIntro(image,text1, text2)
	div.item-news__intro
		div.item-news__intro-image
			img(src!=image alt='blog')
		div.item-news__intro-text
			h4=text1
			p 
				i.fa.fa-calendar
				span=text2

mixin commentSlide(slideNumber, itemNumber, commentedByWhom)
	input(type="radio" id!=slideNumber name="slide" checked)
	div.slide-item(class!=itemNumber)
		div.article-comment__slide-content
			div.article-comment__slide-content--info
				span= commentedByWhom
				span Cách đây 4 giờ
				a(href='#') Trả lời
			div.article-comment__slide-content--text
				p I am crazy about hats these days. Some text about this blog entry. Fashion fashion and mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. I am crazy about hats these days.
		div.article-comment__slide-content
			div.article-comment__slide-content--info
				span Bình luận bới Giangle
				span Cách đây 4 giời
				a(href='#') Trả lời
			div.article-comment__slide-content--text
				p I am crazy about hats these days. Some text about this blog entry. Fashion fashion and mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. I am crazy about hats these days.

mixin orderDetailInfo(icon, text1, text2)
	p
		i.fa(class!=icon)
		span=text1
		span=text2

mixin addressImport
	div.address-import
		div.address-info
			div.address-info__label
				-const infoLabelValue = ['Tên', 'Họ & tên đệm', 'Công ty', 'Địa chỉ', 'Thành phố', 'Quốc tịch', 'Postal/ Zip code', 'Điện thoại']
				each infoLabel in infoLabelValue
					p=infoLabel
			div.address-info__input
				-const infoInputValue = ['Giang', 'Le Anh', 'Công ty cổ phần Công nghệ DKT', 'Tòa nhà Hà Nội Group, 442 Đội Cấn, Ba Đình, Hà Nội', 'Hà Nội', 'Việt Nam', '08257383', '0905 17312']
				each infoInput in infoInputValue
					p=infoInput
		a(href='#') Chỉnh sửa địa chỉ

mixin input(forLabel, label, type, name, value, check)
	div.key-in
		label(for!=forLabel)=label
		input(type!=type id!=forLabel name!=name value!=value checked!=check)
mixin select(citySelect, label, city, cityName1, cityName2, cityName3, cityName4)
	div.key-in
		label(for!=citySelect)=label
		select(id!=citySelect name!=city)
			option(value!=cityName1)=cityName1
			option(value!=cityName2)=cityName2
			option(value!=cityName3)=cityName3
			option(value!=cityName4)=cityName4